path {
  fill: Crimson;
}

text {
  fill: #fff;
  font: 12px Arial-BoldMT, sans-serif;
  font-weight:600;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

path.selected,
a:hover path {
  fill: darkred !important;
}

.circle {
  fill: darkorange;
}

a:hover .circle {
  fill: darkred !important;
  cursor: pointer;
}
