.col {
    flex: 1;
    width: 33.33%;
    text-align: center;
}

.row {
    display: flex;
}

.SearchBar {
    width: 300px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    min-height: 3vh;
}

.App {
    text-align: center;
    min-height: 100vh;
    background-color: #282c34;

    font-size: calc(10px + 1vmin);
  color: white;
}